.container {
  border-radius: 30px;
  width: 565px;
  height: 599px;
  background: #fff;
  margin: 0 auto;
  padding: 64px;
}

.form {
  display: flex;
  width: 438px;
  height: 198px;
  flex-direction: column;
  gap: 18px;
  margin-top: 40px;
}

.input {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  width: 438px;
  height: 54px;
}

.button {
  border-radius: 12px;
  border-color: transparent;
  padding: 16px 210px;
  width: 438px;
  height: 60px;
  background: #f4c550;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #121417;
  padding: auto;
}
