.container {
  width: 583px;
  min-height: 73px;
  margin-left: 128px;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
}

.selectWrapper {
  position: relative;
  margin-top: 96px;
}
.label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #8a8a89;
  margin-bottom: 8px;
  display: block;
  position: relative;
}
.selectIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #121417;
  transition: color 0.2s ease;
}
.select,
.level,
.price {
  border-radius: 14px;
  border: 2px solid transparent;
  background-color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;

  color: #121417;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.2s ease;
  box-sizing: border-box;

  height: 48px;
  padding: 14px 48px 14px 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.select {
  width: 221px;
}

.level {
  width: 198px;
}

.price {
  width: 124px;
}

.customSelectWrapper {
  position: relative;
}

.active {
  border-color: #9fb7ce;
  background-color: #fff;
}

.dropdown {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  background: #fff;
  border: 2px solid #9fb7ce;
  border-radius: 14px 14px 14px 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;

  max-width: 100vw;
  padding: 10px 14px;
}

.dropdownItem {
  padding: 4px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: rgba(18, 20, 23, 0.2);
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdownItem:hover {
  background: rgba(159, 183, 206, 0.1);
  color: #121417;
}
.dropdownItem.active {
  color: #121417;
}

.select:focus,
.level:focus,
.price:focus {
  border-color: #9fb7ce;
  outline: none;
}
