.container {
  margin: 0 auto;
  width: 100%;
  background: #fff;
  display: flex;
}

.text {
  border-radius: 30px;
  width: 720px;
  height: 530px;
  background: #f8f8f8;
}
.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #121417;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  letter-spacing: -0.02em;
  color: #121417;
}
.bttn {
  border-radius: 12px;
  padding: 16px 88px;
  width: 267px;
  height: 60px;
  background: #9fb7ce;
}
